click==6.7
decorator==4.0.11
docopt==0.6.2
imageio==2.1.2
-e git+git@github.com:jamesbrink/Instagram-API-python.git@4f85f0e26221eb419e0323acdeb5a20cabcdfc4d#egg=instagram_api
-e git+ssh://git@bitbucket.org/urandomio/instagram_auto_accept.git@2afda246844a89c8659c2865365ed7787a555e47#egg=instagram_auto_accept
moviepy==0.2.3.2
numpy==1.12.1
olefile==0.44
Pillow==4.1.1
requests==2.11.1
requests-toolbelt==0.7.0
tqdm==4.11.2
